{% extends "layout.html" %}

{% block head %}
    <title>About - Joao Sobrinho</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/31449350?s=460&u=4bebb34f6e1ca147b8d8a12326643de3b1767d45&v=4" alt="Foto do desenvolvedor desta página">
    <h1>João Luiz Messias</h1>
    <h2>DevOps Engineer</h2>
    <p>Há 15 anos trabalhando com Infraestrutura e recentemente com a cultura e processos DevOps.<br><a href="https://www.linkedin.com/in/joaolms" target="_blank">Perfil profissional</a></p>
</div>

<div class="links" id="links-rodape">
    <a href="https://www.linkedin.com/in/joaolms" target="_blank">Linkedin</a>
    <a href="https://github.com/joaolms" target="_blank">GitHub</a>
    <a href="https://twitter.com/joaolms" target="_blank">Twitter</a>
</div>

{% endblock %}